<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:each="pet : ${pets}">
    <a th:href="@{'/pets/' + ${pet.getId()}}" th:text="'Id: ' + ${pet.getId()}"></a>
    <p th:text="'Name: ' + ${pet.getPetName()}"></p>
    <p th:text="'Type: ' + ${pet.getPetType()}"></p>
    <br>
</div>
<p> </p>
<a th:href="@{'/users/' + ${pets.iterator().next().getOwner().getId()}}"> return to user</a>
<div style="height:50px"></div>
<a th:href="@{'/pets'}"> see other pets</a>
<p> </p>
<a th:href="@{'/users'}"> to all users</a>
<div style="height:20px"></div>
<a th:href="@{'/users/mainPage'}"> go to the main page</a>
</body>
</html>