<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <a th:text="'Id: ' + ${pet.getId()}"></a>
    <p th:text="'Name: ' + ${pet.getPetName()}"></p>
    <p th:text="'Type: ' + ${pet.getPetType()}"></p>
    <p th:text="'Age: ' + ${pet.getPetAge()}"></p>
    <p th:text="'Gender: ' + ${pet.getPetGender()}"></p>
    <p th:text="'Breed: ' + ${pet.getPetBreed()}"></p>
    <p th:text="'Hobby: ' + ${pet.getPetHobby()}"></p>
    <a th:href="@{'/users/' + ${pet.getOwner().getId()}}" th:text="'Owner: ' + ${pet.getOwner().getId()}"></a>
    <p> </p>
    <a th:href="@{'/pets'}"> to all pets</a>
    <p> </p>
    <a th:href="@{'/users/mainPage'}"> go to the main page</a>
    <br>
</body>
</html>