<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <a th:text="'Id: ' + ${user.getId()}"></a>
    <p th:text="'Name: ' + ${user.getUserName()}"></p>
    <p th:text="'Address: ' + ${user.getUserAddress()}"></p>
    <p th:text="'Gender: ' + ${user.getUserGender()}"></p>
    <p th:href="@{'/users/' + ${user.getId()} + '/userPets'}">Pets:</p>
    <p th:text="'.......Name -  '  + ${user.getPet()}"></p>
    <p th:text="'.......Type -  '  + ${user.getPet()}"></p>
    <p th:text="'.......Age -  '  + ${user.getPet()}"></p>
    <p> </p>
    <p> </p>
    <a th:href="@{'/pets/form'}">add pet</a>
    <p> </p>
    <a th:href="@{'/users'}">to all users</a>
    <p> </p>
    <a th:href="@{'/pets'}">to all pets</a>
    <p> <p>
    <a th:href="@{'/users/update/' + ${user.getId()}}">change information</a>
    <p> </p>
    <a th:href="@{'/users/delete/'  + ${user.getId()}}">delete this user (and pets)</a>
    <p> </p>
    <p> </p>
    <a th:href="@{'/users/mainPage'}">go to the main page</a>
<br>
</body>
</html>