<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:each="user : ${users}">
    <a th:href="@{'/users/' + ${user.getId()}}" th:text="'Id: ' + ${user.getId()}"></a>
    <p th:text="'Name: ' + ${user.getUserName()}"></p>
    <p th:text="'Address: ' + ${user.getUserAddress()}"></p>
    <p th:text="'Gender: ' + ${user.getUserGender()}"></p>
    <br>
</div>
<div style="height:20px"></div>
<a th:href="@{'/pets'}">to all pets</a>
<div style="height:20px"></div>
<a th:href="@{'/users/mainPage'}">go to the main page</a>
<a th:href="@{'/users/deleteAll'}">delete all users</a>
</body>
</html>