<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <a th:text="'Id: ' + ${user.getId()}"></a>
    <p th:text="'Name: ' + ${user.getUserName()}"></p>
    <p th:text="'Address: ' + ${user.getUserAddress()}"></p>
    <p th:text="'Gender: ' + ${user.getUserGender()}"></p>
    <div style="height:20px"></div>
    <a th:href="@{'/users/' + ${user.getId()} + '/userPets'}">View all user's pets</a>
    <div style="height:30px"></div>
    <a th:href="@{'/pets/' + ${user.getId()} + '/form'}">add new pet</a>
    <div style="height:50px"></div>
    <a th:href="@{'/users'}">see other users</a>
    <p> </p>
    <a th:href="@{'/pets'}">to all pets</a>
    <p> <p>
    <a th:href="@{'/users/update/' + ${user.getId()}}">change information</a>
    <p> </p>
    <a th:href="@{'/users/delete/'  + ${user.getId()}}">delete this user (and pets)</a>
    <div style="height:20px"></div>
    <a th:href="@{'/users/mainPage'}">go to the main page</a>
<br>
</body>
</html>